
  .position-fixed {
    position: fixed;
    top: 0;
    right: 0;
  }
  


.company-container{
    display: flex;
    height: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    
}

.company-details{
    align-items: center;
}

.company-parent{
    display: flex;
    color: aliceblue;
    align-items: center;

}

.company-details-name{
    font-size: 24px;
    font-family: "Poppins Semibold";
}

.company-details-role{
    display: flex;
    position: relative;
    margin: 14px 0 24px 0;
    flex-direction: column;
}


.company-details-role .presentation-slogan{
    position: absolute;
  left: 0;
  width: 132%;
  text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
  margin-left: -58px;
  margin-right: auto;
    
}

.primary-text{
    color: var(--whith);
    font-size: 2em
}

.hightlighted-text{
    color: #5a2c16;
}

.company-role-tagline{
    display: none;
    margin: 5px 0 0 0;
    font-size: 19px;
    font-family: "Poppins Light";
}

.company-options .highlighted-btn{
    margin: 0 0 0 28px;
    color: #111;
    background-color: rgb(255, 220, 242);

}

.company-picture{
    display: flex;
    width: 576px;
    height: 350px;
    margin: 27px 0px 0px 103px;
    align-items: center;
    justify-content: center;
    
}

.company-picture-background{
    width: 92%;
    height: 92%;
    background-image: url(../../../assets/Home/logo-s-fundo-r.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.company-picture-background:hover{
    transition: 1s ease-out;
    transform: scale(1.07);
}

.colz .colz-icon i{
    padding: 18px;
    color: white;
    padding-left: 0px;
    font-size: 2rem;

}

.colz .colz-icon .fa-twitter{
    padding-right: 0px;
}

.animation-container {
    height: 70px;
  }

.colz .colz-icon i:hover{
    transform: scale(1.5);
}

@media screen and (max-width:1134px) {
    .company-picture{
        margin: 0 0px 0 80px;
    }
    .company-details-name{
        font-size: 20px;
    }
    .company-details-role .primary-text{
        font-size: 12px;
    }

    .company-options .btn{
        z-index: 700;
        width: 120px;
        padding: 11px 0;
    }

}

@media screen and (max-width: 1128px) {
    .company-picture{
        width: 400px;
        height: 300px;
        margin: 0 0 0 4px;
    }

    .company-details-role .presentation-slogan {
        left: -20px;
        width: 110%;
       margin: auto;
        
    }
}

@media screen and (max-width:810px) {

    .company-picture{
        margin: -20px 0px 0px 0px !important;

    }
    .company-parent{
        margin: 40px 0 0 0 ;
        flex-direction: column-reverse;

    }

    .company-options{
        display: flex;
        justify-content: space-between;
    }

    .company-details{
        margin: 0px 0 0 ;
    }

    .company-options .highlighted-btn{
        margin: 0 !important;
    }

    .company-options, .company-details-role{
        text-align: center;

    }

    .btn {
        margin-bottom: 30px;
    }
    
}

@media screen and (max-width:375px) {
    .company-picture{
        width: 275px;
        height: 275px;
        margin-top: -90px;
    }

    .company-details-role .presentation-slogan{
        width: 90%;
        margin-left: 12px;
        font-size: 1.3rem;
    }

    .animation-container {
        display: flex;
      }

    .company-details{
        width: 90%;
    }

    .primary-btn{
        margin-bottom: 8px;
    }

    
}

