footer {
    margin: auto;
    text-align: center;
    max-height: 700px;
    min-height: 300px;
    padding-top: 100px;
    background-color: var(--rosasec);
}

.bt-top{
    text-align: center;
}

.set-bt-top{
    padding: 8px;
    border-radius: 100%;
    color: var(--rosalogo);
    border-style: solid;
    border-color: var(--marrom);
    font-size: 60px;

}

#copyright {
    text-align: center;
    margin-top: 68px;
}

#copyright #contato {
    margin: auto;
    color: var(--cor1);
    text-align: center;
    max-width: 450px;
  
    
}

#copyright #contato a {
    cursor: pointer;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.rede img:hover {
    cursor: pointer;
    transform: rotateX(30deg);
}

.github img {
    margin-left: 10px;
    margin-right: 10px;
}